video#bgvid {
  position: absolute; left: 0; top: 0; right: 0;
  width: 100%; height: auto;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
}

.bg-primary{
  background-color: #005401 !important;
}

header.header {
  background: none;
  height: 77%;
}

header.header img {
  max-width: 80%;
}

.introduction {
  text-align: justify;
}

#survey {
  padding: 50px 0;
}
#survey h1{
  margin: 70px 0;
}

#survey iframe {
  margin: 20px 0;
}

#top:before {
  content: "";
	display: block;
	padding-top: 56.25%;
}

#top {
  transform: translateY(-50%);
}

.box{
	position: relative;
	width: 100%;		/* desired width */
}
.box:before{
	content: "";
	display: block;
	padding-top: 51.25%; 	/* initial ratio of 1:1*/
}

#quote{
  background-color: #293351;
  color: #b1c778;
}

.content{
	position:  absolute;
	top: 50%;
	left: 0;
	bottom: 0;
	right: 0;
}

.call-to-action p a{
  color: white;
}

.arrow-down {
  font-size: 40px;
  color: white;
}

iframe, #sliderFrame, .sliderInner {
  max-width: 100%;
}

.invitation {
  text-align: justify;
}

.newsletter-fixed {
  position: none;
  top: 0;
  left: 0;
  font-size: 7px;
  padding: 5px;
  z-index: 100;
  margin: 5px;
  background-color: rgba(255,255,255,0.9);
}

#slider1_container, #slider2_container {
  margin: 20px 0;
}

@media (max-width: 600px) {
  header.header .newsletter{
    display: none;
  }

  .newsletter-fixed {
    position: fixed;
  }
}

.introduction p {
  margin-top: 20px;
  margin-bottom: 0;
}

.introduction p:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}

.introduction p img {
  float: right;
  margin-left: 10px;
  margin-top: 0;
  max-width: 50%;
}


.photos {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;
}

.fifty-fifty img {
  width: 50%;
  float: right;
}

.photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1600px) {
  .photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 1200px) {
  .photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  .photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
  .fifty-fifty img {
    width: 100%;
  }
}
