video#bgvid {
  position: absolute; left: 0; top: 0; right: 0;
  width: 100%; height: auto;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
}


header.header {
  background: none;
  height: 77%;
}

header.header img {
  max-width: 80%;
}

.introduction {
  text-align: justify;
}

#about {
  background-color: black;
  padding: 80px 0;
}

#about h2 {
  font-size: 50px;
}

#about .video-js {
  margin: 50px 0;
}

#survey {
  padding: 50px 0;
  background: url(../img/survey-background-little-blur.jpg) center;
  background-size: cover;
  color: black;
}
#survey h2{
  margin: 70px 0;
  font-size: 50px;
}

#survey .container {
  background: white;
  padding: 16px;
  border-radius: 20px;
}

#survey iframe {
  margin: 50px 0;
}

#top:before {
  content: "";
	display: block;
	padding-top: 56.25%;
}

#top {
  transform: translateY(-50%);
}
.box{
	position: relative;
	width: 100%;		/* desired width */
}
.box:before{
	content: "";
	display: block;
	padding-top: 51.25%; 	/* initial ratio of 1:1*/
}

#quote{
  background-color: #293351;
  color: white;
  padding: 65px 0;
  background: url(../img/unity.jpg) center;
}

.content{
	position:  absolute;
	top: 50%;
	left: 0;
	bottom: 0;
	right: 0;
}

.call-to-action p a{
  color: white;
}

.arrow-down {
  font-size: 40px;
  color: white;
}

.iframe-sizing {
  width: 100%;
  max-width: 720px;
}

.invitation {
  text-align: justify;
}

.newsletter-fixed {
  position: none;
  top: 0;
  left: 0;
  font-size: 7px;
  padding: 5px;
  z-index: 100;
  margin: 5px;
  background-color: rgba(255,255,255,0.9);
}

@media (max-width: 600px) {
  header.header .newsletter{
    display: none;
  }

  .newsletter-fixed {
    position: fixed;
  }
}

.introduction p {
  margin-top: 20px;
  margin-bottom: 0;
}

.introduction p:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}


.vjs-big-play-button {
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
}

#noomap {
  background-color: #f8f1f8;
  padding: 50px 0;
}

#noomap .background-image {
  position: absolute;
  width: 100%;
  opacity: 0.04;
  margin: auto;
}

#noomap .justify {
  text-align: justify;
}

#noomap img, #noomap iframe {
  width: 100%;
  margin-bottom: 20px;
}

#noomap h2 {
  margin: 50px 0 0 0;
}

#noomap h2, #noomap h3{
  color: #8f2a8e;
}

#noomap h3{
  text-align: left;
}

#noomap .quote{
  color: #89855c;
  margin: 30px 0;
  font-size: 18px;
  font-style: italic;
}
